// Position logo et barre grise
.header{
  &__img{
    height: 160px;
    display: flex;
    align-items: center;
  }
  &__mid{
    height: 1px;
    width: 100%;
    background-color: #21252980;
    }
}
// Barre de navigation
.header__main_nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  padding: 0 15px;
  .menu_responsive{
    display: none;
  }
  a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.75);
  }
  input{
    width: 700px;
    height: 35px;
    border-radius: 4px;
    border: 1px solid #ebebeb;
    display: none;
    &::placeholder{
      font-size: 12px;
      font-style: italic;
      padding: 15px 10px;
    }
    &.visible{
      display: block;
    }
  }
  i{
    font-size: 20px;
  }
  &__liens.hide{
    display: none;
  }
  &__liens a{
      font-size: 16px;
      font-weight: 500;
      padding: 8px;
      transition: .3s all ease-in-out;
      &:hover{
        color: $rouge;
      }
  }
}
//------------------------------//
//---------Responsive-----------//
//------------------------------//
@media screen and (max-width:760px){
  .header__main_nav input{
    width: 200px;
  }
  .header__main_nav .menu_responsive{
    display: block;
    background-color: $rouge;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 25px;
    div{
      color: #fff;
      font-size: 20px;
      font-weight: 400;
      padding-left: 15px;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
  .header__main_nav{
    &__liens{
      background-color: rgb(196, 182, 182);
      height: 360px;
      width: 450px;
      position: relative;
      bottom: 210px;
      opacity: 0;
      left: -150px;
      z-index: 10;
      a{
        display: block;
        padding-left: 20px;
        padding-top: 20px;
      }
      &.responsive{
        opacity: 1;
        bottom: -207px;
      }
    }
  }
}